anyio==3.3.4
asgiref==3.4.1
click==8.0.3
dnspython==2.1.0
email-validator==1.1.3
fastapi==0.70.0
h11==0.12.0
idna==3.3
pydantic==1.8.2
sniffio==1.2.0
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn==0.15.0
python-environ==0.4.54
SQLAlchemy==1.4.26
PyMySQL==1.0.2
cryptography==35.0.0
pydottie==0.0.2
PyJWT==2.3.0
bcrypt==3.2.0
sqlalchemy-stubs==0.4
mypy==0.910
